@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* spacing */
:root {
    --paragraph-spacing: 0.5em;
    --heading-spacing: 1.2em;
    --item-spacing: 0.4em;
}

.tiptap h1 {
    @apply text-4xl font-bold leading-tight;
    margin-block-start: 1em;
}

.tiptap h2 {
    @apply text-3xl font-semibold leading-snug;
    margin-block-start: 1em;
}

.tiptap h3 {
    @apply text-2xl font-medium leading-normal;
    margin-block-start: 1em;
}

.tiptap p {
    font-size: 1.2rem;
    font-family: "EB Garamond", serif;
}

.tiptap>p {
    word-break: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    padding-left: 0;
    padding-right: 0;
    margin-block-start: var(--paragraph-spacing);
    margin-block-end: var(--paragraph-spacing);
}

.tiptap ul {
    @apply list-disc pl-4 ml-4 marker:text-accent-darker;
}

.tiptap ol {
    @apply list-decimal pl-4 ml-4;
}

.tiptap li {
    @apply my-[var(--item-spacing)];
}

.tiptap li::marker {
    @apply text-lg;
}

.tiptap a {
    @apply text-accent-darker underline cursor-pointer;
}

.tiptap img {
    @apply mb-[var(--item-spacing)];
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap h1.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}


/* task list */
ul[data-type="taskList"] {
    @apply mx-0 py-0 px-1;
}

ul[data-type="taskList"] li {
    display: flex;
    align-items: baseline;
}

ul[data-type="taskList"] li input[type="checkbox"] {
    @apply w-5 h-5;
    transform: translateY(5px);
    /* Slightly lower the position of the task list items */
    accent-color: var(--primary);
    /* Display primary color when checked */
}

ul[data-type="taskList"] li label {
    display: flex;
    align-items: center;
    /* Center the checkbox and label text vertically */
}

ul[data-type="taskList"] li div {
    @apply pl-2;
    flex-grow: 1;
    /* Allow the text to take the remaining space */
}