@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* spacing */
:root {
    --paragraph-spacing: 0.4rem;
    --heading-spacing: 1.2em;
    --item-spacing: 0.4em;
}

.tiptap {
    font-family: 'Inter', sans-serif;
}

.tiptap h1 {
    @apply text-4xl font-bold leading-tight;
    margin-block-start: 1em;
}

.tiptap h2 {
    @apply text-3xl font-semibold leading-snug;
    margin-block-start: 1em;
}

.tiptap h3 {
    @apply text-2xl font-medium leading-normal;
    margin-block-start: 1em;
}

.tiptap > p {
    @apply leading-relaxed;
    margin-block-start: var(--paragraph-spacing);
    margin-block-end: var(--paragraph-spacing);
}

.tiptap ul {
    @apply list-disc pl-4 ml-4 marker:text-accent-darker;
}

.tiptap ol {
    @apply list-decimal pl-4 ml-4;
}

.tiptap li {
    @apply my-[var(--item-spacing)];
}
.tiptap li::marker{
    @apply text-lg;
}

.tiptap a {
    @apply text-accent-darker underline cursor-pointer;
}

.tiptap img {
    @apply mb-[var(--item-spacing)];
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap h1.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}