.tiptap h1 {
    @apply text-4xl font-bold leading-tight mb-6;
}

.tiptap h2 {
    @apply text-3xl font-semibold leading-snug mb-5;
}

.tiptap h3 {
    @apply text-2xl font-medium leading-normal mb-4;
}

.tiptap p {
    @apply text-lg leading-relaxed mb-1;
}

.tiptap ul {
    @apply list-disc pl-4;
}

.tiptap ol {
    @apply list-decimal pl-4;
}

.tiptap li {
    @apply mb-1;
}

.tiptap a {
    @apply text-pink-400 underline hover:text-pink-500 cursor-pointer;
}

.tiptap img {
    @apply mb-1;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap h1.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}